<h1><%= @place["name"] %></h1>

<p>
<br>
<% for entry in @entries%>
<li>
    <%= entry["title"]%>
  <br>
  <%= entry["description"]%>
  <br>
  <%= entry["posted_on"]%>
  <br>
  <br>
<% end %>
</p>
<br><br>
<a href="/entries/new?place_id=<%=@place["id"]%>">New Post</a>
<br><br>
<a href="/places">Back to all Places</a>